@CHARSET "UTF-8";

html,body {
	background-color: #333;
	margin: 0px;
	color: white;
	font-family: sans, sans-serif;
	display: table;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: #bbb;
}

a:hover {
	color: orange;
}

footer {
	display: table-row;
	color: #777;
	font-size: 0.6em;
	text-align: center;
	background-color: #252525;
	height: 1px;
}

nav.head-nav {
	background-color: #111;
	padding: 0;
	overflow: hidden;
	margin: 0px;
	box-shadow: 0px 2px 4px #111;
}

ul.head-nav {
	margin: 0 auto;
	width: 80%;
	min-width: 700px;
	list-style-type: none;
	padding: 0;
}

li.nav {
	float: left;
	margin: 0px;
}

a.nav {
	text-decoration: none;
	color: white;
	text-align: center;
	display: inline-block;
	padding: 15px 12px;
	margin: 0px;
}

li a:hover {
	background-color: purple;
}

.content {
	margin: auto;
	text-shadow: 0px 1px 2px #000;
	text-align: center;
	display: block;
	padding-bottom: 30px;
}

div.money {
	white-space: nowrap;
	margin: 0;
}

img.money {
	margin-top: 2px;
	vertical-align: top;
}

#active {
	background-color: purple;
}

#alert {
	background-color: darkred;
}

.common-box {
	display: inline-block;
	padding: 20px 40px;
	box-shadow: 0px 1px 1px #111;
	border-radius: 20px;
	background-color: #222;
}

.common-textbox {
	border: solid 2px;
	background-color: #aaa;
	width: 200px;
}

.common-textbox:focus {
	border-color: purple;
}

#error-msg {
	color: yellow;
	list-style: none;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}
.max-width {
	width: 100%;
}

.bold {
	font-weight: bold;
}
td.alttable-header {
	font-weight: bold;
	background-color: #1a1a1a;
	width: 100px;
	padding-left: 10px;
	text-align: left;
	border: 1px solid #333;
}

div.alttable-header {
	font-weight: bold;
	background-color: #1a1a1a;
	padding: 5px;
	border: 1px solid #333;
	border-radius: 10px 10px 0px 0px;
}

td.alttable-data {
	text-align: left;
	background-color: #222;
	padding: 5px;
	border: 1px solid #333;
	min-width: 150px;
}
.alttable-avatar {
	width: 0px;
	padding-right: 10px;
}

.tr {
	border-radius: 0px 10px 0px 0px;
}

.tl {
	border-radius: 10px 0px 0px 0px;
}

.br {
	border-radius: 0px 0px 10px 0px;
}

.bl {
	border-radius: 0px 0px 0px 10px;
}

.bounty-section {
	border-collapse: collapse;
	margin: 15px auto 15px auto;
	max-width: 1200px;
	width: 100%;
}

.bounty-desc {
	margin: auto;
	text-align: left;
	background-color: #222;
	border-radius: 0px 0px 10px 10px;
	border: 1px solid #333;
	padding: 15px;
}

.thin {
	max-width: 1500px;
	margin: 5px auto;
	min-width: 1000px;
}

.really-thin {
	max-width: 1000px;
	min-width: 750px;
	margin: 5px auto;
}

.comments {
	margin: 10px auto;
	background-color: #222;
	border-radius: 10px;
	border-collapse: collapse;
	box-shadow: 0px 1px 1px #111;
	max-width: 1200px;
}

.comment-head {
	background: #1a1a1a;
	padding: 5px;
	border-radius: 10px 10px 0 0;
	text-align: left;
}

.comment-body {
	border-collapse: collapse;
	margin: 0 0 10px 0;
	height: 100px;
}

.comment-userbox {
	background: #1a1a1a;
	padding: 5px;
	border-radius: 0 0 0 10px;
	min-width: 150px;
	vertical-align: top;
}

.comment-text {
	background: #222;
	width: 100%;
	border-radius: 0 0 10px 0;
	padding: 5px;
	vertical-align: top;
}

.text-edit {
	font-size: 0.6em;
	font-style: italic;
}

.no-result {
	font-style: italic;
	color: #999;
}

.balance {
	padding: 3px;
	background-color: #333;
	border: 1px solid #555;
	border-radius: 5px;
	margin: 2px 8px 1px 8px;
}

.table-header {
	background-color: #111;
	margin: auto;
	padding: 3px;
	border-collapse: collapse;
	border: 1px solid #333;
}

.table-data {
	background-color: #222;
	margin: auto;
	padding: 7px 15px;
	border-collapse: collapse;
	border: 1px solid #333;
	white-space: nowrap;
}

.table-subjectdata {
	background-color: #222;
	margin: auto;
	padding: 7px 15px;
	border-collapse: collapse;
	border: 1px solid #333;
	text-align: left;
}

.table-checkbox {
	background-color: #222;
	margin: 0;
	width: 1px;
	padding: 2px;
	border-collapse: collapse;
	border: 1px solid #333;
	white-space: nowrap;
}

.browse-user {
	font-size: 0.8em;
	padding-left: 1em;
}

.searchbox {
	padding: 15px;
	background-color: #222;
	border-radius: 10px;
	margin: 25px auto;
	width: 50%;
	box-shadow: 0px 1px 1px #111;
	min-width: 600px;
}
